{% extends "crosspay/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block nav_login %}
            {% if user.is_authenticated %}
            <li class="active"><a href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
{% endblock %}

{% block content %}
        <div class="page-header">
            <h1>Welcome!</h1>
        </div>
        <h2>Overview</h2>
        <p>
        <strong>{{ user.get_full_name }} ({{user}})</strong><br/>
        E-mail: {{ user.email }}<br />
        Total announcements: {{ total_announcements }}<br />
        Active announcements: {{ active_announcements_count }}<br />
        Archived announcements: {{ archived_announcements_count }}
        </p>
        <h2>Active announcements</h2>
        <table id="active" class="table table-striped table-bordered" width="100%" cellspacing="0">
	        <thead>
	            <tr>
	                <th>Created</th>
	                <th>From</th>
	                <th>To</th>
	                <th>Amount</th>
	                <th>Currency</th>
	            </tr>
	        </thead>
	 
	        <tfoot>
	            <tr>
	                <th>Created</th>
	                <th>From</th>
	                <th>To</th>
	                <th>Amount</th>
	                <th>Currency</th>
	            </tr>
	        </tfoot>
	 
	        <tbody>
	            {% for announcement in active_announcements %}
	            {% if user.is_authenticated %}
	            <tr class='clickable-row' data-href='{% url 'announcement_detail' pk=announcement.id %}'>
	            {% else %}
	            <tr>
	            {% endif %}
	                <td>{{ announcement.created|timesince }} ago</td>
	                <td>{{ announcement.localCity }}, {{ announcement.localCountry }}</td>
	                <td>{{ announcement.foreignCity }}, {{ announcement.foreignCountry }}</td>
	                <td>{{ announcement.amount }}</td>
	                <td>{{ announcement.currency }}</td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	    <h2>Archived announcements</h2>
        <table id="archived" class="table table-striped table-bordered" width="100%" cellspacing="0">
	        <thead>
	            <tr>
	                <th>Archived</th>
	                <th>From</th>
	                <th>To</th>
	                <th>Amount</th>
	                <th>Currency</th>
	            </tr>
	        </thead>
	 
	        <tfoot>
	            <tr>
	                <th>Archived</th>
	                <th>From</th>
	                <th>To</th>
	                <th>Amount</th>
	                <th>Currency</th>
	            </tr>
	        </tfoot>
	 
	        <tbody>
	            {% for announcement in archived_announcements %}
	            {% if user.is_authenticated %}
	            <tr class='clickable-row' data-href='{% url 'announcement_detail' pk=announcement.id %}'>
	            {% else %}
	            <tr>
	            {% endif %}
	                <td>{{ announcement.completedDate|timesince }} ago</td>
	                <td>{{ announcement.localCity }}, {{ announcement.localCountry }}</td>
	                <td>{{ announcement.foreignCity }}, {{ announcement.foreignCountry }}</td>
	                <td>{{ announcement.amount }}</td>
	                <td>{{ announcement.currency }}</td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
{% endblock %}