{% extends "crosspay/base.html" %}

{% block title %}Send money free, all over the world{% endblock %}

{% block content %}
	  <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Do you need to send money somewhere?</h1>
        <p>If you need to send money to some place but you do not want to bear the money transfer expenses or you are having problem to transfer that money, be informed that your are not the only one! There might be people at the place you want to send money having similar problem to send money to your place.</p>
        <p>CrossPay is a meeting place of such people. You can find here such a person for whom you can pay in your country and they will pay for you in their country. No need to transfer money! And it's FREE!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button">See how it works</a>
        </p>
      </div>

      <h1>Recent Announcements</h1>
      <table id="recent" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Created</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Currency</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Created</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Currency</th>
            </tr>
        </tfoot>
 
        <tbody>
            {% for announcement in recent %}
            {% if user.is_authenticated %}
            <tr class='clickable-row' data-href='{% url 'announcement_detail' pk=announcement.id %}'>
            {% else %}
            <tr>
            {% endif %}
                <td>{{ announcement.created|timesince }} ago</td>
                <td>{{ announcement.localCity }}, {{ announcement.localCountry }}</td>
                <td>{{ announcement.foreignCity }}, {{ announcement.foreignCountry }}</td>
                <td>{{ announcement.amount }}</td>
                <td>{{ announcement.currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}